:root {
   --primary-color: #2C3E50; 
   --second-color: #1ABC9C; 
   --main-font: 'Lato', sans-serif;
   --hover-color: #ffcc00; 
   --background-color: #ecf0f1; 
   --footer-background-color: #34495e; 
   --section-background-color: #393139; 
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
   font-family: var(--main-font);
   background-color: var(--background-color);

}

body {
   display: flex;
   flex-direction: column;
}

.content-wrapper {
   flex: 1;
   display: flex;
   flex-direction: column;
   padding: 20px; 

}

a {
   text-decoration: none;
   font-size: 1.3rem;
   color: var(--background-color); 
   transition: color 0.3s; 
}

a:hover {
   color: var(--hover-color);
}

ul {
   list-style: none;
}

.navbar {
   margin-top: 1px;
   width: 100%; 
   background-color: var(--primary-color);
   padding: 10px 20px; 
   border-radius: 8px; /* Added border-radius for rounded corners */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-items a:hover {
   color: var(--hover-color); 
}

.navbar .navbar-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar .navbar-container .navbar-items ul li {
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 1.8rem;
}

.navbar .navbar-container .navbar-items ul li:hover {
   color: var(--second-color);
}

.navbar .navbar-container .navbar-brand a {
   font-size: 1.8rem;
   transition: color 0.3s ease-in-out;
}

.navbar .navbar-container .navbar-brand a:hover {
   color: var(--second-color);
}

main {
   flex: 1;
   padding: 20px;
}


/* Section Styles */
.home-section {
   background-color: var(--section-background-color); 
   color: white; 
   padding: 12px; 
   margin: 100px;
   border-radius: 15px; 
   box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1); 
   text-align: center; 
   font-size: 2rem;
}


/* Footer Styles */
.footer {
   background-color: var(--footer-background-color); 
   color: white;
   padding: 20px 0;
   text-align: center;
}

.footer-container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

.footer-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-content p {
   margin: 10px 0;
}

.social-links {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
   gap: 10px;
}

.social-links li {
   display: inline;
}

.social-links a {
   color: white;
   font-size: 1.5rem;
   transition: color 0.3s;
}

.social-links a:hover {
   color: var(--second-color);
}
